name: gettext

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - src/**/*.ts
      - ui/**/*.blp
      - package.json
      - package-lock.json
      - .github/workflows/gettext.yml

jobs:
  xgettext:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    container:
      image: docker.io/fedora:latest
    steps:
      - name: Install git and gettext
        run: dnf install -y git make gettext
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: "npm"
      - run: npm ci
      - run: npm run xgettext
      # Create a pull request to update the messages file
      - uses: peter-evans/create-pull-request@v7
        with:
          commit-message: |
            Update messages

            Github bot runs make pot :v:
          branch: workflow/update-messages
          base: main
          sign-commits: true
          delete-branch: true
          title: "Automated update of messages"
          body: "Github bot runs make pot :v:"
          assignees: swsnr
          draft: true
          add-paths: po/picture-of-the-day@swsnr.de.pot
